<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}
{% block content %}

    <html lang="en">
    <body background="/static/images/background.png">
        <!-- Center the page content-->
        <div class="container mt-5" style="color: #d8dce1; " >
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Phone number-->
                            <h1 class="fw-bolder mb-1" style="color: #b7b8ba"> +{{ post.telephone.prefix }} {{ post.telephone.phone }} </h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2" style="color: #a6afb7">Posted on {{ post.date }} by {{ post.user_id }} </div>
                            <!-- Post category-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!"> {{ post.category.type }} </a>
                        </header>
                        <div class="card" style="background-color: transparent" >
                            <img src="https://i.imgur.com/Oco4P6B.png" class="card-img-top" alt="Image describing post category" width="30%" height="30%"/>
                            <div class="card-body" style="background-color: #212529">
                                <h5 class="fw-bold"> {{ post.title }} </h5>
                                <p class="fs-5 mb-4"> {{ post.message }} </p>
                                <form action="{% url 'submit_like' post.post_id user.id %}" method=POST style="margin-bottom: 10px">
                                    {% csrf_token %}
                                    <button class="btn btn-info" id="like_button"><i class="fa-solid fa-heart">Like</i></button>
                                </form>
                                {% csrf_token %}
                                {% if user.id == post.user_id.id %}
                                    <button class="btn btn-warning" id="modify" style="margin-bottom: 10px" onclick="location.href = '/post/edit/{{post.post_id}}'">MODIFY POST {% csrf_token %}</button>
                                    <form action="{% url 'delete_posts' post.post_id %}" method=POST>
                                        {% csrf_token %}
                                        <button class="btn btn-danger" id="delete">DELETE POST {% csrf_token %}</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>

                <!-- Comments section-->
                <section class="mb-5" style="color: #d8dce1; margin-top: 30px;">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <!-- Comment form-->
                            <h2>Comments</h2>
                            <br/>
                            {% if user.is_authenticated %}
                                <form action="{% url 'add_comment' post.post_id %}" method=POST>
                                {% csrf_token %}
                                <textarea class="form-control" id="message" name="message" rows="3"
                                          placeholder="Join the discussion and leave a comment!" style="margin-bottom: 10px"></textarea>
                                    <button class="btn btn-secondary" style="margin-bottom: 10px" id="submitbutton">Submit</button>
                                </form>
                            {% endif %}
                            {% for comment in comments %}
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                                                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                    alt="..."/></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.user_id }}</div>
                                        {{ comment.message }}
                                        {% csrf_token %}
                                    </div>
                                    <div>
                                    </div>
                                </div>
                                {% if user.id == comment.user_id.id %}
                                    <form action="{% url 'delete_comment' comment.pk %}" method=POST>
                                        {% csrf_token %}
                                        <button style="align-content: end; font-size: 12px; text-align: end; float: right" class="btn btn-outline-danger" id="delete">DELETE</button>
                                    </form>
                                {% endif %}
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
{% endblock %}
