<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function deletePost(post_id) {
            $.ajax({
                url: 'api/delete_post/',
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                data: {
                    post_id: post_id
                },
                success: function (data) {
                    top.location.href = data;
                }
            });
        }

        function submitLike(post_id, user_id) {
            $.ajax({
                url: 'api/submit_like/',
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                data: {
                    post_id: post_id,
                    user_id: user_id,
                },
                success: function (data) {
                    top.location.href = data;
                }
            });
        }
    </script>

    <script>
        function onSubmitClick() {
            const message = $("#message").val();
            $.ajax({
                url: 'api/add_comment/',
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                data: {
                    message: message,
                },
                success: function (data) {
                    top.location.href = data;
                }
            });
        }
    </script>

{% endblock %}
{% block content %}

    <html lang="en">
    <body background="/static/images/background.png">
    <!-- Center the page content-->
    <div class="container mt-5" style="color: #d8dce1; ">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Phone number-->
                    <h1 class="fw-bolder mb-1" style="color: #b7b8ba">
                        +{{ post.telephone.prefix }} {{ post.telephone.phone }} </h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" style="color: #a6afb7">Posted on {{ post.date }}
                        by {{ post.user_id }} </div>
                    <!-- Post category-->
                    <a class="badge bg-secondary text-decoration-none link-light"
                       href="#!"> {{ post.category.type }} </a>
                </header>
                <div class="card">
                    <img src="https://i.imgur.com/Oco4P6B.png" class="card-img-top" alt="Image describing post category"
                         width="30%" height="30%"/>
                    <div class="card-body" style="background-color: #212529">
                        <h5 class="fw-bold"> {{ post.title }} </h5>
                        <p class="fs-5 mb-4"> {{ post.message }} </p>
                        {% csrf_token %}
                        <h5><i class="fa-solid fa-heart"> Like</i></h5>
                        {% if user.id == post.user_id.id %}
                            <button class="btn btn-warning" onclick="location.href = '/post/edit/{{ post.post_id }}'"
                            >MODIFY
                                POST {% csrf_token %}</button>
                            <button class="btn btn-danger" onclick="deletePost( {{ post.post_id }} )">DELETE
                                POST </i> {% csrf_token %}</button>
                        {% endif %}
                    </div>
                </div>
                <!-- Comments section-->
                <section class="mb-5" style="color: #d8dce1">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <!-- Comment form-->
                            <h2>Comments</h2>
                            <br/>
                            {% if user.is_authenticated %}
                                <form class="mb-4">
                                <textarea class="form-control" id="message" rows="3"
                                          placeholder="Join the discussion and leave a comment!"></textarea>
                                    <button class="btn btn-secondary" onclick="onSubmitClick()">Submit</button>
                                </form>
                            {% endif %}
                            {% for comment in comments %}
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle"
                                                                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                    alt="..."/></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.user_id }}</div>
                                        {{ comment.message }}
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
{% endblock %}
