<!-- templates/home.html-->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <script>
        $(function () {
            $("#TelephoneNumberPrefix").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: 'api/get_prefixes',
                        type: 'GET',
                        data: {
                            prefix: request.term,
                        },
                        success: function (data) {
                            response($.map(JSON.parse(data), function (item) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        },
                    })
                },
                minLength: 0,
                select: function (event, ui) {
                    if (ui.item) {
                        $("#TelephoneNumberPrefix").val(ui.item.value);
                    }
                }
            });
        });

        $(function () {
            $("#TelephoneNumberText").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: 'api/get_numbers',
                        type: 'GET',
                        data: {
                            number: request.term,
                        },
                        success: function (data) {
                            response($.map(JSON.parse(data), function (item) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        },
                    })
                },
                minLength: 3,
                select: function (event, ui) {
                    if (ui.item) {
                        $("#TelephoneNumberText").val(ui.item.value);
                    }
                }
            });
        });

        function onSearchClick() {
            const prefix = $("#TelephoneNumberPrefix").val();
            const number = $("#TelephoneNumberText").val();
            $.ajax({
                url: 'api/search_number',
                type: 'GET',
                data: {
                    prefix: prefix,
                    number: number,
                },
                success: function (data) {
                    top.location.href = data;
                }
            });
        }</script>
{% endblock %}
{% block content %}
    <html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="author" content="colorlib.com">
        <meta content="/static/images/background.png" itemprop="image">

    </head>
        <body itemprop="WebPage" itemscope itemtype="http://schema.org/WebPage">
        <div class="s01" itemprop="about" background="/static/images/background.png">
            <form>
                <fieldset>
                    <legend>Spam Number Filter</legend>
                </fieldset>
                <div class="inner-form">
                    <div class="input-field first-wrap">
                        <input id="TelephoneNumberPrefix" type="text" placeholder="Number prefix here"/>
                    </div>
                    <div class="input-field second-wrap">
                        <input id="TelephoneNumberText" type="text" placeholder="Telephone number here"/>
                    </div>
                    <div class="input-field third-wrap">
                        <button id="Search" class="btn-search" onclick="onSearchClick()" type="button">Search</button>
                    </div>
                </div>
            </form>
        </div>
        </body>
    </html>
{% endblock %}