<!-- templates/home.html-->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<form class="row domain-search bg-pblue">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="form-title">Find Your <strong>Dream Domain</strong></h2>
                <p>Search for your dream domain now</p>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <input type="search" class="form-control">
                    <span class="input-group-addon"><input type="submit" value="Search" class="btn btn-primary"></span>
                </div>
                <p>.com <strong>$8.95</strong>.net <strong>$7.95</strong>.org <strong>$9.95</strong>.club
                    <strong>$0.99</strong></p>
            </div>
        </div>
    </div>
</form>
{% endblock %}